.Container {
    margin-top: 20px;
}

.TitleBadWords {
    font-family: IBM Plex Mono;
    font-size: 24px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
    justify-content: center;
}
.FromContainer {
    position: relative;
    width: 1200px;
    height: auto;
    border: 1px solid var(--chart-color);
    margin-top: 20px;
    display: block;
    /* Відновлюємо стандартне блокове відображення */
    padding: 20px;
    box-sizing: border-box;
    /* Ураховуємо padding у ширині */
}
.FilterTitleContainer{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}
.FilterTitle{
    font-family: IBM Plex Sans;
font-weight: 500;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
color: var(--text-color)
}

.TableHeaderCell:not(:last-child) {
  padding-right: 50px;



}
.TableHeaderCell{
  font-family: IBM Plex Mono;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: var(--text-accent-color);
}

.TableBodyCell:not(:last-child) {
  padding-right: 50px;
 

}
.TableBodyCell{
 font-family: IBM Plex Mono;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color:var(--text-color)
}