.BadWordActionContainer {
    position: relative;
    width: 933px;
    height: 280px;
    border: 1px solid var(--chart-color);
    margin-top: 50px;
}

.TitleAction {
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 10.4px;
    text-align: left;
    /* Лейбл залишатиметься по лівому краю */
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-accent-color);
    margin-top: 15px;
    margin-left: 25px;
}


/* випадаючий список */

.ActionSelect {
    width: 266px;
    height: 33px;
    padding: 8px;
    border: 1px solid #558DB2;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    background-color: var(--input-badword);
}

.ActionSelectContainer {
    position: relative;
    margin-top: 12px;
    margin-left: 29px;
    display: flex;
}

.ContainerCheckBoxAction {
    margin-left: 80px;
}

.ActionOption {
    color: var(--text-color);
}


/* числа */

.scrollableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 12px;
}

.scrollableControls {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.number {
    font-size: 16px;
    margin: 0 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.number.faded {
    color: #aaa;
}

.number.selected {
    color: var(--text-color);
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: 10.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.number.slideLeft {
    animation: slideLeft 0.3s ease;
}

.number.slideRight {
    animation: slideRight 0.3s ease;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.NumbersContainer {
    display: flex;
}

.NumbersContainer>div:not(:last-child) {
    margin-left: 20px;
}

.NumberText {
    font-family: IBM Plex Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 7.8px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-accent-color);
}

.Decor {
    margin-top: 15px;
}

.TotalNumber {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 10.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 30px;
    margin-left: 30px;
    color: var(--text-color);
}

.ContainerCheckBoxAction2 {
    margin-left: 25px;
    margin-top: 12px;
}


/* чекбокси, */

.CustomCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin: 8px 0;
    position: relative;
    color: var(--text-color);
}

.CustomCheckbox input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.CheckboxMark {
    height: 20px;
    width: 20px;
    background-color: var(--bg-modal-color);
    /* Світлий фон */
    border: 1px solid var(--shadow-secondary-border);
    /* Колір рамки */
    border-radius: 2px;
    /* Скруглені кути */
    display: inline-block;
    position: relative;
    margin-right: 8px;
}

.CustomCheckbox input:checked+.CheckboxMark {
    background-color: var(--shadow-secondary-border);
    /* Колір фону для чекнутого стану */
    border-color: var(--shadow-secondary-border);
    /* Синхронізуємо колір рамки з фоном */
}

.CustomCheckbox input:checked+.CheckboxMark::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    /* Білий колір галочки */
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.ContainerCheckBox {
    margin-top: 25px;
}


/* Додаємо відстань між чекбоксами */

.CustomCheckbox+.CustomCheckbox {
    margin-top: 15px;
    /* Відстань між чекбоксами */
}

.limitsScopeList {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 19px;
}

.limitsScopeItem {
    position: relative;
    width: 400px;
    /* height: 36px; */
    display: flex;
    align-items: center;
    border: 2px solid var(--btn-accent-color);
    background-color: #fff;
    padding: 10px 20px;
}

.limitsScopeSelect {
    width: 300px;
    height: 37px;
}


/*! випадаючий список */


/* Dropdown.css */

.dropdown-container {
    position: relative;
    /* width: 300px; */
}

.dropdown-button {
    /* width: 100%; */
    /* background: white; */
    /* border: 2px solid #b0c4c7; */
    /* border-radius: 8px; */
    /* padding: 10px; */
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    width: 400px;
}

.dropdown-arrow {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--shadow-secondary-border);
    /* background: #96B8BD; */
}

.dropdown-list {
    position: absolute;
    max-height: 150px;
    /* Обмеження висоти для скролу */
    overflow-y: auto;
    width: 100%;
    background: white;
    border: 1px solid #b0c4c7;
    border-radius: 8px;
    margin-top: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    /* justify-content:center; */
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: var(--text-color)
}

.dropdown-item:hover {
    background: #f0f4f5;
}

.delete-button {
    position: absolute;
    right: 1.98vw;
    bottom: 2.125vw;
}

.second-delete-button {
    position: absolute;
    right: 4.34vw;
    top: 0.99vw;
}

.close-button {
    position: absolute;
    right: 2.34vw;
    top: 1.06vw;
    color: var(--shadow-secondary-border);
}

.confirm-changes-button {
    padding: 0.425vw 1.275vw;
    background-color: var(--chart-accent-color);
    color: var(--bg-primary-color);
    margin-top: 1.06vw;
}