.BadWordActionContainer {
  position: relative;
  display: block;
  border: 0.15vw solid var(--chart-color);
  padding: 0 1.8vw 1.4vw 2.05vw;
  box-sizing: border-box;
  margin-top: 1.06vw;
  background-color: var(--bg-primary-color);
}

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.85vw;
  margin-top: 1.06vw;
  box-sizing: border-box;
}

.TitleAction {
  font-family: IBM Plex Mono;
  font-size: 1.09vw;
  font-weight: 400;
  line-height: 0.81vw;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-accent-color);
  margin-top: 1.17vw;
  margin-left: 1.95vw;
}

.ActionSelect {
  width: 20.75vw;
  height: 2.58vw;
  padding: 0.63vw;
  border: 0.078vw solid #558DB2;
  border-radius: 0.31vw;
  font-size: 1.09vw;
  outline: none;
  background-color: var(--input-badword);
}

.ActionSelectContainer {
  position: relative;
  margin-top: 0.94vw;
  margin-left: 2.27vw;
  display: flex;
}

.ContainerCheckBoxAction {
  margin-left: 6.25vw;
}

.ActionOption {
  color: var(--text-color);
}

.scrollableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.78vw;
  margin-top: 0.94vw;
}

.scrollableControls {
  display: flex;
  align-items: center;
  margin-top: 0.39vw;
}

.numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.number {
  font-size: 1.25vw;
  margin: 0 0.39vw;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.number.faded {
  color: #aaa;
}

.number.selected {
  color: var(--text-color);
  font-family: IBM Plex Sans;
  font-weight: 400;
  line-height: 0.81vw;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.number.slideLeft {
  animation: slideLeft 0.3s ease;
}

.number.slideRight {
  animation: slideRight 0.3s ease;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.NumbersContainer {
  display: flex;
}

.NumbersContainer > div:not(:last-child) {
  margin-left: 1.56vw;
}

.NumberText {
  font-family: IBM Plex Sans;
  font-size: 0.78vw;
  font-weight: 400;
  line-height: 0.61vw;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-accent-color);
}

.Decor {
  margin-top: 1.9vw;
}

.TotalNumber {
  font-family: IBM Plex Sans;
  font-size: 1.09vw;
  font-weight: 400;
  line-height: 0.81vw;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 2.34vw;
  margin-left: 2.34vw;
  color: var(--text-color);
}

.ContainerCheckBoxAction2 {
  margin-left: 1.95vw;
  margin-top: 0.94vw;
}

.CustomCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.25vw;
  margin: 0.63vw 0;
  position: relative;
  color: var(--text-color);
}

.CustomCheckbox input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.CheckboxMark {
  height: 1.56vw;
  width: 1.56vw;
  background-color: var(--bg-modal-color);
  border: 0.078vw solid var(--shadow-secondary-border);
  border-radius: 0.16vw;
  display: inline-block;
  position: relative;
  margin-right: 0.63vw;
}

.CustomCheckbox input:checked + .CheckboxMark {
  background-color: var(--shadow-secondary-border);
  border-color: var(--shadow-secondary-border);
}

.CustomCheckbox input:checked + .CheckboxMark::after {
  content: "";
  position: absolute;
  left: 0.47vw;
  top: 0.16vw;
  width: 0.39vw;
  height: 0.78vw;
  border: solid #fff;
  border-width: 0 0.16vw 0.16vw 0;
  transform: rotate(45deg);
}

.ContainerCheckBox {
  margin-top: 1.95vw;
}

.CustomCheckbox + .CustomCheckbox {
  margin-top: 1.17vw;
}

.limitsScopeList {
  margin-top: 1.17vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.17vw 1.48vw;
}

.limitsScopeItem {
  position: relative;
  width: 31.25vw;
  display: flex;
  align-items: center;
  border: 0.16vw solid var(--btn-accent-color);
  background-color: #fff;
  padding: 0.78vw 1.56vw;
}

.limitsScopeSelect {
  width: 23.44vw;
  height: 2.89vw;
}

.dropdown-container {
  position: relative;
}

.dropdown-button {
  text-align: left;
  cursor: pointer;
  font-size: 1.25vw;
  position: relative;
  width: 31.25vw;
}

.dropdown-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--shadow-secondary-border);
}

.dropdown-list {
  position: absolute;
  max-height: 11.72vw;
  overflow-y: auto;
  width: 100%;
  background: white;
  border: 0.078vw solid #b0c4c7;
  border-radius: 0.63vw;
  margin-top: 0.39vw;
  box-shadow: 0.16vw 0.16vw 0.31vw rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-item {
  padding: 0.78vw;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  font-family: IBM Plex Mono;
  font-size: 0.94vw;
  font-weight: 400;
  line-height: normal;
  color: var(--text-color);
}

.dropdown-item:hover {
  background: #f0f4f5;
}

.delete-button {
  position: absolute;
  right: 1.98vw;
  bottom: 2.13vw;
}

.second-delete-button {
  position: absolute;
  right: 4.34vw;
  top: 0.99vw;
}

.close-button {
  position: absolute;
  right: 2.34vw;
  top: 1.06vw;
  color: var(--shadow-secondary-border);
}

.confirm-changes-button {
  padding: 0.43vw 1.28vw;
  background-color: var(--chart-accent-color);
  color: var(--bg-primary-color);
  margin-top: 1.06vw;
}

.limitsScopeAdminBox {
  display: flex;
  align-items: center;
  gap: 0.39vw;
  margin-top: 0.85vw;
}

.limitsScopesCheckboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.25vw;
  position: relative;
  color: var(--text-color);
}

.limitsScopesCheckboxLabel input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.limitsScopesCheckboxSpan {
  height: 1.56vw;
  width: 1.56vw;
  background-color: var(--bg-modal-color);
  border: 0.078vw solid var(--shadow-secondary-border);
  border-radius: 0.16vw;
  display: inline-block;
  position: relative;
  margin-right: 0.63vw;
}

.limitsScopesCheckboxLabel input:checked + .limitsScopesCheckboxSpan {
  background-color: var(--shadow-secondary-border);
  border-color: var(--shadow-secondary-border);
}

.limitsScopesCheckboxLabel input:checked + .limitsScopesCheckboxSpan::after {
  content: "";
  position: absolute;
  left: 0.47vw;
  top: 0.16vw;
  width: 0.39vw;
  height: 0.78vw;
  border: solid #fff;
  border-width: 0 0.16vw 0.16vw 0;
  transform: rotate(45deg);
}

.limitsScopeSubtitle {
  color: #000;
  font-family: "IBM Plex Sans";
  font-size: 0.94vw;
  font-weight: 400;
  line-height: normal;
}

.limitsScopeBox {
  display: flex;
  align-items: center;
  gap: 0.39vw;
}

.subcountainer {
  margin-left: 0.71vw;
}
