.title {
    width: 77px;
    height: 21px;
    font-size: 23px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: left;
    color: var(--text-color);
}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 10.4px;
    text-align: left;
    color: var(--text-accent-color);
    margin-top: 10px;
}

.containerBorder {
    width: 1460px;
    height: 410px;
    border: 1px solid var(--chart-color);
    margin-top: 30px;
}

.containers {
    display: flex;
}

.totalMembersContainer,
.totalMembersContainer2,
.totalMembersContainer3 {
    height: 72px;
}

.totalMembersContainer {
    width: 200px;
    border: 1px 0px 0px 1px;
    opacity: 0px;
    border-width: 1px, 0px, 0px, 1px;
    border-style: solid;
    background: var(--chart-accent-color);
    border: 1px solid var(--chart-accent-color);
}

.totalMembersContainer2 {
    width: 130px;
    background: var(--chart-color);
    border: 1px solid var(--chart-color);
}

.totalMembersContainer3 {
    width: 108px;
    background-color: var(--legend-brighter-teal-color);
    border: 1px solid var(--legend-brighter-teal-color);
}

.totalMembersText {
    font-size: 16px;
    font-weight: 500;
    color: var(--bg-primary-color);
    margin-left: 10px;
    margin-top: 10px;
}

.totalMembersText:nth-of-type(2) {
    margin-top: 15px;
}

.totalMembersText_3:nth-of-type(2) {
    color: #000;
    margin-top: 15px;
}

.totalMembersText_3 {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-accent-color);
    margin-left: 10px;
    margin-top: 10px;
}

.containerSchedule {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 28px;
}