.switch {
  position: relative;
  display: inline-block;
  /* width: 25px; */
  width: 6.94vw;
  height: 2.778vw;
  /* height: 1.41vw; */

  @media screen and (min-width: 768px) {
    /* width: 46px; */
    width: 3.25vw;
    /* height: 20px; */
    height: 1.41vw;
  }
}

/* Hide default HTML checkbox */

.switch input {
  display: none;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  border: 1.2px solid var(--text-color); /* Чорна обводка */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2vw; /* більш м’який округлений вигляд */
}

.slider:before {
  position: absolute;
  content: '';
  height: 2vw;
  width: 2vw;
  left: 0.4vw;
  bottom: 0.4vw;
  background-color: var(--bg-modal-color);
  
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-image: url(/src/img/svgs/header-icon/sun.svg);
  background-size: 1.6vw;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 768px) {
    height: 1vw;
    width: 1vw;
    left: 0.2vw;
    bottom: 0.2vw;
    background-size: 0.8vw;
  }

  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(3.5vw); /* підлаштовано щоб було рівніше */
  background-image: url(/src/img/svgs/header-icon/moon.svg);

  @media screen and (min-width: 768px) {
    transform: translateX(1.6vw);
  }
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
