.filterLine {
  width: 100%;
  height: 1px;
  background-color: var(--bg-accent-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.filterModal {
  padding: 10px 25px;
  background-color: var(--bg-modal-color);
  position: absolute;
  z-index: 1000;
  outline: 1px solid var(--bg-accent-color);
  /* width: 207px; */
  /* height: 284px; */
}

.openFilterBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 31px;
  border: 1px solid var(--border-accent-color);
  padding: 5px 15px;
  color: var(--text-color)
}

.headerFilterModal {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-accent-color);
  font-family: 'IBM Plex Sans';
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  gap: 2px;
}

.filterNameTitle {
  color: var(--text-color);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.intervalBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.intervalTitle {
  color: var(--text-color);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dispalyTimeTitle {
  color: var(--text-accent-color);
  font-family: 'IBM Plex Sans';
  font-size: 6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.chooseIntervalList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.chooseIntevalBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary-color);
  text-align: center;
  font-size: 8px;
  font-weight: 500;
  line-height: normal;
}

.chooseBtnActive {
  border-bottom: 1px solid var(--text-accent-color);
  color: var(--text-accent-color);
}

.unitsOfTimeBox {
  margin-top: 16px;
}

.unitsOfTimeTitle {
  color: var(--text-color);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.unitsOfTimeSubtitle {
  color: var(--text-accent-color);
  font-family: 'IBM Plex Sans';
  font-size: 6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 2px;
  max-width: 157px;
}

.unitsOfTimeList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
}

.unitsOfTimeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary-color);
  text-align: center;
  font-size: 8px;
  font-weight: 500;
  line-height: normal;
}

.periodOfTimeBox {
  margin-top: 16px;
}

.periodOfTimeTitle {
  color: var(--text-color);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.periodOfTimeSubtitle {
  color: var(--text-accent-color);
  font-family: 'IBM Plex Sans';
  font-size: 6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 2px;
}

.periodOfTimeInput {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.periodOfTimeInput::-webkit-slider-runnable-track {
  background: var(--btn-accent-color);
  width: 100%;
  height: 1px;
}

.periodOfTimeInput::-moz-range-track {
  background: var(--btn-accent-color);
  width: 100%;
  height: 1px;
}

.periodOfTimeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5.5px;
  background-color: var(--bg-accent-color);
  border-radius: 3px;
  width: 6px;
  height: 12px;
}

.periodOfTimeInput::-moz-range-thumb {
  width: 6px;
  height: 12px;
  border-radius: 3px;
  background: var(--bg-accent-color);
  margin-top: -5.5px;
}

.chosenPeriodText {
  color: var(--shadow-secondary-border);
  font-family: 'IBM Plex Sans';
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 3px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.saveFilterBtn {
  background-color: var(--btn-accent-color);
  padding: 6px 18px;
  color: var(--bg-primary-color);
  font-size: 6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 65px;
  height: 20px;
  margin-top: 15px;
}
