.navigationList{
    margin-top: 10px;
}

.navigationItem{
    padding: 10px 30px;
    color: var(--text-color);
    font-family: "IBM Plex Mono";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navigationItem:hover{
    background-color: var(--btn-accent-color);
}