.statusChartTitle {
    font-size: 23px;
    font-weight: 500;
    color: var(--text-color);
    width: max-content;
}

.statusChartDescription {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-accent-color);
    margin-top: 10px;
}

.statusChartBorder {
    width: 99%;
    height: 410px;
    border: 1px solid var(--chart-color);
    margin-top: 30px;
    /* border-left: 5px solid var(--chart-accent-color); */
    /* border-bottom: 5px solid var(--chart-accent-color); */
    position: relative;
}

.statusChartMembersSummary {
    display: flex;
}

.statusChartStatusItemOnline {
    width: 110px;
    height: 72px;
    background: var(--chart-online-accent-color);
    /* колір для статусу "В мережі" */
}

.statusChartStatusItemAway {
    width: 110px;
    height: 72px;
    background: var(--chart-inactive-color);
    /* колір для статусу "Відійшли" */
}

.statusChartStatusItemDnd {
    width: 140px;
    height: 72px;
    background: var(--chart-offline-accent-color);
    /* колір для статусу "Не турбувати" */
}

.statusChartStatusItemOffline {
    width: 140px;
    height: 72px;
    background: var(--text-secondary-color);
    /* колір для статусу "Не в мережі" */
}

.statusChartStatusLabel {
    font-size: 16px;
    font-weight: 500;
    color: var(--bg-primary-color);
    margin-left: 10px;
    margin-top: 10px;
}

.statusChartStatusCount {
    font-size: 16px;
    font-weight: 500;
    color: var(--bg-primary-color);
    margin-left: 10px;
    margin-top: 15px;
}

.statusChartChartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 28px;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.moveUp {
    animation: moveUp 0.5s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }
    100% {
        opacity: 0;
        transform: scaleX(1);
        transform-origin: right;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scaleX(1);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: right;
    }
}

.fadeOut {
    animation: fadeOut 0.5s forwards;
}

.fadeIn {
    animation: fadeIn 0.5s forwards;
}

.area {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform-origin: left;
}

.statusChartStatusItemInactive {
    background: none;
    color: black;
    /* Колір тексту для неактивних елементів */
    /* Щоб бачити кордони елемента */
}

.statusChartStatusItemTextInactive {
    color: var(--text-accent-color);
}

.statusChartStatusItemTextInactive2 {
    color: black;
}

.statusChartSpan {
    position: absolute;
    height: 42px;
    border: 1px solid var(--chart-color);
    margin-top: 13px;
}