.FromContainer {
  position: relative;
  display: block;
  border: 0.15vw solid var(--chart-color);
  padding: 0 1.8vw 1.4vw 2.05vw;
  box-sizing: border-box;
  margin-top: 1.06vw;
  background-color: var(--bg-primary-color);
}

.tags-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4vw;
  align-items: center;
  justify-content: center; /* центр по горизонталі */
  padding-right: 4vw;
  min-height: 2.5vw;
  margin-top: 1.3vw;
}
.tag {
  background-color: var(--bg-accent-color);
  padding: 0.4vw 0.8vw;
  border-radius: 2vw;
  font-size: 0.9vw;
  color: var(--text-color);
  border: 0.12vw solid var(--btn-accent-color);
  max-height: 2vw;
  display: flex;
  align-items: center;
}

.tagText {
  color: var(--text-color);
  font-family: 'IBM Plex Sans';
  font-size: 0.85vw;
  font-weight: 400;
  line-height: normal;
}

.remove-icon {
  margin-left: 0.4vw;
  cursor: pointer;
  color: #678f95;
  width: 1.2vw;
  height: 1.2vw;
}

.remove-icon:hover {
  color: #2d4a5d;
}

.Input {
  border: none;
  outline: none;
  padding: 0.4vw;
  flex-grow: 1;
  background: transparent;
  font-size: 0.9vw;
  color: var(--text-color);
  width: 5vw;
}

.add-button {
  position: absolute;
  right: 0.8vw;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.4vw;
  display: flex;
  align-items: center;
}

.add-button svg {
  color: #5f7991;
  width: 1.5vw;
  height: 1.5vw;
}

.add-button:hover svg {
  color: #2d4a5d;
}

.TextButton {
  color: var(--text-color);
  font-size: 0.9vw;
  padding: 0.3vw 0.6vw;
  background: transparent;
  border: none;
  cursor: pointer;
}
