.generalSettingsBox {
    position: relative;
    border: 1px solid var(--chart-color);
    background: var(--bg-modal-color);
    width: calc(90% - (1.771vw + 2.054vw));
    display: flex;
    flex-direction: column;
    gap: 0.85vw;
    padding: 1.06vw 1.77vw 1.42vw 2.125vw;
    
}

.dropdown {
    position: relative;
    width: 100%;
}

.secondDropdown {
    position: relative;
    width: calc(50% - 1.63vw);
    border: 2px solid var(--shadow-secondary-color)
}

.dropdown-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    /* border: 2px solid #acd0d6; */
    /* border-radius: 4px; */
    /* background: #edf6fa; Фон, схожий на зображення */
    color: #2d4a5d;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

.icon {
    transition: transform 0.2s ease-in-out;
    color: #5f7991;
}

.icon.rotate {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #a5c0d1;
    border-top: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
    z-index: 10;
}

.dropdown-menu li {
    padding: 8px 15px;
    cursor: pointer;
    transition: background 0.2s;
    color: #2d4a5d;
}

.dropdown-menu li:hover {
    background: #edf6fa;
}

.add-new-button {
    padding: 0.425vw 1.275vw;
    background-color: var(--chart-accent-color);
    color: var(--bg-primary-color);
    margin-top: 1.06vw;
  }

  .container {
    width: calc(90% - (1.771vw + 2.054vw));
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.85vw;
    background-color: var(--bg-modal-color);
    border: 1px solid var(--chart-color);
    padding: 0 1.771vw 1.346vw 2.054vw;
    font-family: IBM Plex Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
  }

  .subcontainer {
    display: flex;
    flex-direction: row;
    gap: 1.63vw;
  }

  .subtitle {
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    /* text-align: left; */
    /* text-underline-position: from-font; */
    /* text-decoration-skip-ink: none; */
    color: var(--text-accent-color);
    margin-top: 1.06vw;
  }

  .inputText {
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    /* text-align: left; */
    /* text-underline-position: from-font; */
    /* text-decoration-skip-ink: none; */
    color: var(--text-accent-color);
  }

  .inputContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(50% - 1.63vw);
    padding: 0.71vw 1.77vw 0.71vw 1.42vw;
    border: 2px solid var(--shadow-secondary-color);
    align-items: center
  }

  .input{
    max-width: 12.75vw;
  }

  .NumbersContainer {
    display: flex;
}

.NumbersContainer>div:not(:last-child) {
    margin-left: 20px;
}

.Decor {
    margin-top: 15px;
}

.TotalNumber {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 10.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 30px;
    margin-left: 30px;
    color: var(--text-color);
}