.header {
  padding: 1.94vw 8.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94vw;
  z-index: 2;
  position: absolute;
  background-color: var(--bg-primary-color);

  @media screen and (min-width: 1200px) {
    padding: 0.91vw 0.57vw 0.83vw 4vw;
  }
}

.headerContainer {
  display: flex;
  width: 94.16vw;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.headerBlock {
  display: flex;
  align-items: center;
}

.headerLogo {
  margin-right: 4.16vw;
  width: 11.11vw;

  @media screen and (min-width: 768px) {
    width: 9.12vw;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 6.66vw;
    width: 7.13vw;
  }
}

.headerNav {
  flex-shrink: 0;
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.55vw;

  @media screen and (min-width: 768px) {
    gap: 3.6vw;
  }

  @media screen and (min-width: 1200px) {
    gap: 1.7vw;
  }
}

.headerItem {
  display: flex;
  align-items: center;
}

.headerLink {
  color: var(--text-color);
  text-align: right;
  font-size: 1.55vw;
  font-weight: 500;
  line-height: normal;

  @media screen and (min-width: 768px) {
    font-size: 1.2vw;
  }

  @media screen and (min-width: 1200px) {
    font-size: 0.85vw;
  }
}

.headerOpenMenuBtn {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: none;
  }

  & svg {
    width: 4.16vw;
  }
}

.headerLink:hover {
  color: var(--subtext-color);
  transition-duration: 250ms;
  transition-delay: 50ms;
  transition-timing-function: ease-out;
}

.headerBox {
  display: flex;
  align-items: center;
  gap: 1.416vw;
}
