.header {
  padding: 11px 30px 16px 82px;
  display: flex;
  align-items: center;
  z-index: 2;
  position: absolute;
  background-color: var(--bg-primary-color);
  /* justify-content: center; */
}

.headerLogo {
  /* margin-left: 82px; */
}

.headerNav {
  margin-left: 128px;
  flex-shrink: 0;
}

.navUserBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 30px;
  outline: 1px solid #DEAB9A;
}

.navFemidaImg {
  width: 26px;
  height: 26px;
}

.navUsernameText {
  color: #000;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.headerNavSettingsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.headerItem {
}

.headerLink {
  color: var(--text-color);
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.headerWhenLoginBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-left: 53%;
  flex-shrink: 0;
}

.headerBox {
  display: flex;
  align-items: center;
  margin-left: 80%;
  gap: 20px;
}

.headerLogBtn {
  color: var(--text-color);
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  padding: 10px 30px;
  border: 1px solid var(--border-color);
}
