.burgerContainer {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100vw;
  height: 100vw;
  background-color: var(--bg-accent-color);
  z-index: 100;
  /* margin-top: 60px; */
  /* margin-top: 43vw; */
}

.burgerBox {
  padding: 20px 0px;
  height: 30vw;
}

.burgerBtnsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5.556vw;
  padding: 0 5.556vw 5.556vw 5.556vw;
}
