.navigation-container {
  width: 100%;
}

.helper-container{
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: var(--text-color);
  gap: 0.85vw;
}

.second-helper-container{
  /* width: 90%;
  position: relative;

  flex-direction: column;
  justify-content: start; */
  display: flex;
  color: var(--text-color);
  gap: 0.354vw;
}

.title {
  font-family: IBM Plex Mono;
  font-weight: 500;
  font-size: 16px;

  color: var(--text-color);
}

.subtitle {
  font-family: IBM Plex Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  /* text-align: left; */
  /* text-underline-position: from-font; */
  /* text-decoration-skip-ink: none; */
  color: var(--text-accent-color);
  margin-top: 1.06vw;
}

.subhelp{
  margin-bottom: 1.42vw;
}

.Sec {
  position: absolute;
  font-family: IBM Plex Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 10.4px;
  right: 1.42vw;
  top: 0.708vw;
  /* Лейбл залишатиметься по лівому краю */
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-accent-color);
  text-align: center;
} 

.date-countainer {
  font-family: IBM Plex Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  gap: 1.063vw;
  align-items: center;
}

.date-subcountainer {
  display: flex;
  gap: 2.125vw;
  align-items: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.354vw;
}

.dropdown-button {
  /* width: 100%; */
  /* background: white; */
  /* border: 2px solid #b0c4c7; */
  /* border-radius: 8px; */
  /* padding: 10px; */
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  text-align: left;
  cursor: pointer;
  /* font-size: 16px; */
  /* /* position: relative; */
  width: 98%;
  font-family: IBM Plex Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}

.dropdown-arrow {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--shadow-secondary-border);
  margin-left: 100%;
  /* background: #96B8BD; */
}

.navigation-container {
  width: 100%;
}

.dropdown-display {
  position: relative;
  background-color: var(--bg-primary-color);
  border: 2px solid var(--shadow-secondary-color);
  padding: 0.708vw 0 0.708vw 1.417vw;
  font-family: IBM Plex Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}

.container {
  width: calc(100% - (1.771vw + 2.054vw));
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.85vw;
  background-color: var(--bg-modal-color);
  border: 1px solid var(--chart-color);
  padding: 0 1.771vw 1.346vw 2.054vw;
  font-family: IBM Plex Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-color);
}

.add-new-button {
  padding: 0.425vw 1.275vw;
  background-color: var(--chart-accent-color);
  color: var(--bg-primary-color);
  margin-top: 1.06vw;
}
.dropdown-list {
  position: absolute;
  width: 100%;
  background-color: var(--bg-primary-color);
  border: 1px solid #b0c4c7;
  border-radius: 8px;
  margin-top: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background: #f0f4f5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border: 2px solid var(--btn-accent-color);
  border-radius: 34px;
  transition: 0.4s;
  box-sizing: border-box;
}

.slider:before {
  position: absolute;
  content: "";
  left: 1px;
  top: 51%;
  transform: translateY(-50%);
  background-color: var(--shadow-secondary-border);
  border-radius: 50%;
  transition: 0.4s;
  width: 15px;
  height: 15px;
}

input:checked+.slider {
  background-color: var(--btn-accent-color);
  border-color: var(--btn-accent-color);
}

input:checked+.slider:before {
  transform: translate(25px, -50%);
}
