.footer {
  background-color: var(--bg-footer-color);
  width: 100%;
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* padding: 30px 100px 30px 100px; */
  padding: 20px 30px;

  @media screen and (min-width: 1200px) {
    padding: 30px 100px 30px 100px;
  }
}

.footerAdditionalBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: 0;
  }
}

/* .lalal {
  width: 20px;
  height: 20px;
} */

.footerNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  /* margin-left: 50%; */
  /* flex-shrink: 0; */

  @media screen and (min-width: 1200px) {
    flex-shrink: 0;
    margin-left: 100%;
  }
}

.footerLink {
  color: var(--subtext-color);
  text-align: right;
  font-family: 'IBM Plex Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footerSocialsList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  /* margin-left: 90px; */

  @media screen and (min-width: 1200px) {
    margin-left: 90px;
  }
}
