.moderationCard {
    width: 440px;
    height: 61px;
    margin: 10px;
    background-color: var(--input-badword);
    border: 1px solid var(--chart-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.moderationContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
}

.controls {
    display: flex;
    /* Вирівнюємо перемикач і кнопку */
    align-items: center;
    /* Вирівнюємо вертикально */
    gap: 10px;
    /* Відступ між перемикачем і кнопкою */
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}

.iconButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.iconButton:hover svg {
    transform: scale(1.1);
    /* Легка анімація */
}

.moderationTitle {
    color: var(--text-color);
    margin-left: 10px;
    font-family: IBM Plex Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.6px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.moderationList {
    color: var( --text-accent-color);
    font-family: IBM Plex Sans;
    font-size: 10px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 2px;
}


/* свічер */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888787;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: #494646;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #bebebe;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Модалка */

.EditorContainer {
    margin-top: 51px;
    width: 800px;
    height: 230px;
    border: 1px solid var(--chart-color);
}

.ExitButton {
    font-family: IBM Plex Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 7.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--subtext-color);
    ;
}

.Container {
    margin-top: 20px;
}

.TitleBadWords {
    font-family: IBM Plex Mono;
    font-size: 24px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
}

.FromContainer {
    position: relative;
    width: 933px;
    height: 250px;
    border: 1px solid var(--chart-color);
    margin-top: 20px;
    display: block;
    /* Відновлюємо стандартне блокове відображення */
    padding: 20px;
    box-sizing: border-box;
    /* Ураховуємо padding у ширині */
}

.LabelFormBadWords {
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 10.4px;
    text-align: left;
    /* Лейбл залишатиметься по лівому краю */
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-accent-color);
    margin-bottom: 100px;
    margin-left: -3px;
}

.InputBadWord {
    width: 879px;
    /* Ширина інпуту */
    height: 43px;
    border: 3px solid var(--chart-color);
    /* Закруглені кути */
    box-sizing: border-box;
    padding-left: 10px;
    /* Відступ всередині інпуту */
    margin-left: auto;
    /* Автоматичний відступ зліва */
    margin-right: auto;
    /* Автоматичний відступ справа */
    margin-top: 12px;
}


/* чекбокси, */

.CustomCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin: 8px 0;
    position: relative;
    color: var(--text-color);
}

.CustomCheckbox input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.CheckboxMark {
    height: 20px;
    width: 20px;
    background-color: var(--bg-modal-color);
    /* Світлий фон */
    border: 1px solid var(--shadow-secondary-border);
    /* Колір рамки */
    border-radius: 2px;
    /* Скруглені кути */
    display: inline-block;
    position: relative;
    margin-right: 8px;
}

.CustomCheckbox input:checked+.CheckboxMark {
    background-color: var(--shadow-secondary-border);
    /* Колір фону для чекнутого стану */
    border-color: var(--shadow-secondary-border);
    /* Синхронізуємо колір рамки з фоном */
}

.CustomCheckbox input:checked+.CheckboxMark::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    /* Білий колір галочки */
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.ContainerCheckBox {
    margin-top: 25px;
}


/* Додаємо відстань між чекбоксами */

.CustomCheckbox+.CustomCheckbox {
    margin-top: 15px;
    /* Відстань між чекбоксами */
}


/* свічер */


/* свічер */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 2px solid var(--btn-accent-color);
    border-radius: 34px;
    /* Забезпечує округлення */
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-sizing: border-box;
    /* Гарантує, що padding і border враховані */
}

.slider:before {
    position: absolute;
    content: "";
    left: 1px;
    /* Центруємо по горизонталі */
    top: 51%;
    /* Вирівнюємо по вертикалі */
    transform: translateY(-50%);
    /* Центруємо точно по центру */
    background-color: var(--shadow-secondary-border);
    /* Кольор кругляшка */
    border-radius: 50%;
    /* Зробити кругляшок круглим */
    -webkit-transition: 0.4s;
    transition: 0.4s;
}


/* Styles when checked */

input:checked+.slider {
    background-color: var(--btn-accent-color);
    /* Той самий фон */
    border-color: var(--btn-accent-color);
    /* Той самий колір обводки */
}

input:checked+.slider:before {
    transform: translate(25px, -50%);
    /* Переміщаємо кругляшок в праву частину */
    background-color: var(--shadow-secondary-border);
    /* Кольор кругляшка лишається незмінним */
}


/* Focus state */

input:focus+.slider {
    box-shadow: 0 0 2px var(--btn-accent-color);
    /* Підсвічування при фокусі */
}

.SliderContainer {
    margin-top: 30px;
    display: flex;
    gap: 5px;
}

.SliderText {
    font-family: IBM Plex Sans;
    margin-top: 2px;
    font-weight: 400;
    line-height: 10.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
}

.SaveButton {
    width: 65px;
    height: 20px;
    background-color: var(--btn-accent-color);
    font-family: IBM Plex Mono;
    font-size: 8px;
    font-weight: 500;
    line-height: 7.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
    text-align: center;
}

.ConatinerNavigation {
    display: flex;
    justify-content: space-between;
    /* Елементи по краях */
    align-items: center;
    padding: 20px;
    /* Відступи всередині контейнера */
}


/* модалка */

.ModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 300ms ease-in-out;
}


/* Стан відкриття */

.ModalOpen {
    opacity: 1;
    pointer-events: all;
}


/* Стан закриття */

.ModalClose {
    opacity: 0;
    pointer-events: none;
}


/* Загальний стиль для контенту модалки */

.ModalContent {
    background: var(--input-badword);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    transform: scale(1);
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}


/* Анімація відкриття контенту */

.ModalContentOpen {
    transform: scale(1);
    opacity: 1;
}


/* Анімація закриття контенту */

.ModalContentClose {
    transform: scale(0.9);
    opacity: 0;
}

.CloseButton {
    margin-top: 10px;
    padding: 8px 12px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.ModalClosing {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s, transform 0.3s;
}

.ModalOverlay.ModalOpen {
    opacity: 1;
    transition: opacity 0.3s;
}

.ModalButtonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.InputContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    gap: 5px;
    background-color: var(--input-badword);
    border: 2px solid var(--btn-accent-color);
    margin-top: 10px;
}

.WordCards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex-grow: 1;
}

.WordCard {
    background-color: var(--bg-accent-color);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    color: var(--text-color);
    border: 1px solid var(--btn-accent-color);
    max-height: 30px;
    display: flex;
    align-items: center;
}

.InputInsideContainer {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    min-width: 120px;
    background-color: var(--input-badword);
}

.DeleteIcon {
    width: 20px;
    /* Адаптуйте розмір за потреби */
    height: 20px;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease;
    /* Для додавання анімації */
}

.DeleteIcon:hover {
    transform: scale(1.1);
    /* Легка анімація при наведенні */
}

.BadWordListContainer {
    display: flex;
    gap: 5px;
    margin-top: 7px;
}

.IconBoxList {
    margin-top: 2px;
}

.BadWordListText {
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 10.4px;
    text-align: left;
    /* Лейбл залишатиметься по лівому краю */
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-accent-color);
    margin-top: 3px;
}


/* Action */

.BadWordActionContainer {
    position: relative;
    width: 933px;
    height: 315px;
    border: 1px solid var(--chart-color);
    margin-top: 50px;
}

.TitleAction {
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 10.4px;
    text-align: left;
    /* Лейбл залишатиметься по лівому краю */
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-accent-color);
    margin-top: 15px;
    margin-left: 25px;
}


/* випадаючий список */

.ActionSelect {
    width: 100%;
    padding: 8px;
    border: 1px solid #558DB2;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.ActionWrapper {
    position: relative;
}

.LabelWithTooltip {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.LabelWithTooltip:hover .Tooltip {
    visibility: visible;
    opacity: 1;
}

.Tooltip {
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Відступ для позиціювання */
    left: 50%;
    margin-left: -100px; /* Центрування */
    transition: opacity 0.3s;
    font-size: 12px;
}

.Tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Стрілка нижче підказки */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}