.moderationCard {
    width: 300px;
    height: 50px;
    margin: 10px;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.moderationContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 10px;
}

.controls {
    display: flex;
    /* Вирівнюємо перемикач і кнопку */
    align-items: center;
    /* Вирівнюємо вертикально */
    gap: 10px;
    /* Відступ між перемикачем і кнопкою */
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}

.iconButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.iconButton:hover svg {
    transform: scale(1.1);
    /* Легка анімація */
}

.moderationTitle {
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}

.moderationList {
    color: #9c9292;
    font-size: 10px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 2px;
}


/* свічер */

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888787;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: #494646;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #bebebe;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    height: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.closeIcon {
    cursor: pointer;
    font-size: 24px;
    color: #666;
    transition: color 0.3s ease;
}

.closeIcon:hover {
    color: #333;
}

.inputContainer {
    margin-top: 20px;
}

.textInput {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    margin-top: 20px;
}

.textInput:focus {
    border-color: #007bff;
    outline: none;
}

.saveButton {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.saveButton:hover {
    background: #0056b3;
}