@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.donutchart-legend-item rect {
  width: 15px;
  height: 15px;
  rx: 15px;
  ry: 15px;
}

.donutchart-innertext {
  display: none;
}

:root,
html[data-theme='light'] {
  --text-color: #000;
  --text-secondary-color: #999;
  --text-accent-color: #678f95;

  --subtext-color: #366482;

  --secondary-color: #ffd2c2;

  --border-color: #deab9a;
  --border-accent-color: #558db2;

  --bg-accent-color: #d2f1f6;
  --bg-primary-color: #fff;
  --bg-modal-color: #fafafa;

  --input-active-color: #d6d6d6;

  --item-active-color: #caeaff;

  --btn-accent-color: #acd0d6;

  --shadow-secondary-color: #acd0d6;
  --shadow-secondary-border: #96b8bd;

  --chart-color: #91ccf4;
  --chart-accent-color: #6eabd4;
  --chart-online-accent-color: #b0e060;
  --chart-online-color: #c7ed89;
  --chart-inactive-color: #f5d87a;
  --chart-offline-accent-color: #eb7f71;
  --chart-offline-color: #f09f95;

  --legend-teal-color: #fff3ef;
  --legend-skyblue-color: #edfcff;
  --legent-soft-blue-color: #caeaff;
  --legend-online-color: #dbf5b0;
  --legend-inactive-color: #f5e3ab;
  --legend-dnd-color: #f5bfb8;
  --legend-offline-color: #ededed;
  --legend-brighter-teal-color: #ffe7df;
}

:root,
html[data-theme='dark'] {
  --text-color: #fff;
  --text-secondary-color: #999;
  --text-accent-color: #678f95;

  --subtext-color: #678f95;

  --secondary-color: #aa7665;

  --border-color: #895341;
  --border-accent-color: #27565d;

  --bg-accent-color: #061c1f;
  --bg-primary-color: #191919;
  --bg-modal-color: #191919;

  --input-active-color: #6e6e6e;

  --item-active-color: #474747;

  --btn-accent-color: #27565d;

  --shadow-secondary-color: #386f78;
  --shadow-secondary-border: #27565d;

  --chart-color: #91ccf4;
  --chart-accent-color: #407293;
  --chart-online-accent-color: #577a1f;
  --chart-online-color: #c7ed89;
  --chart-inactive-color: #b28800;
  --chart-offline-accent-color: #8a2f22;
  --chart-offline-color: #f09f95;

  --legend-teal-color: #895341;
  --legend-skyblue-color: #27565d;
  --legent-soft-blue-color: #133850;
  --legend-online-color: #435c1a;
  --legend-inactive-color: #997500;
  --legend-dnd-color: #66251d;
  --legend-offline-color: #474747;
  --legend-brighter-teal-color: #deab9a;
}
