.ConatinerNavigation {
    display: flex;
    justify-content: space-between;
    /* Елементи по краях */
    align-items: center;
    padding: 20px;
    /* Відступи всередині контейнера */
}

.ExitButton {
 font-family: IBM Plex Sans;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--subtext-color);
}



.SaveButton {
 width: 4.4vw;
    height: 2vw;
    background-color: var(--btn-accent-color);
    font-family: IBM Plex Mono;
    font-size: 0.7vw;
    font-weight: 500;
    line-height: 7.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-color);
    text-align: center;
}