.ConatinerNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(10px, 1vw, 25px);
}

/* Кнопка Назад */
.ExitButton {
  font-family: IBM Plex Sans;
  font-size: clamp(12px, 0.9vw, 20px);
  font-weight: 400;
  color: var(--subtext-color);
  display: flex;
  align-items: center;
  gap: 0.4vw;
  padding: clamp(6px, 0.6vw, 14px) clamp(10px, 1vw, 20px);
  border: none;
  background: transparent;
  cursor: pointer;
}

/* Кнопка Зберегти */
.SaveButton {
  background-color: var(--btn-accent-color);
  font-family: IBM Plex Mono;
  font-size: clamp(12px, 0.8vw, 18px);
  font-weight: 500;
  color: var(--text-color);
  border: none;
  border-radius: 0.4vw;
  cursor: pointer;

  width: clamp(90px, 5vw, 180px);
  height: clamp(35px, 1.8vw, 60px);
}
